<!DOCTYPE html>
<html lang="en"
      xmlns:th = "http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="main_layout.html">
<div layout:fragment="siteContent">
    <div class="row">
        <div class="col-12 mx-auto">
            <form action="/add-request" method="post">
                <div class="row">
                    <div class="col-12">
                        <label>ФИО : </label>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-12">
                        <input type="text" class="form-control" name="username" placeholder="ФИО :" required>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12">
                        <label>Курс : </label>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-12">
                        <select class="form-control" name="coursename" placeholder="Выберите курс">
                            <option>Python</option>
                            <option>Web</option>
                            <option>Java</option>
                            <option>C++</option>
                        </select>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12">
                        <label>Телефон : </label>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-12">
                        <input type="text" class="form-control" name="phone" placeholder="+7(7__)_______" required>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12">
                        <label>Коментарии : </label>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-12">
                        <textarea class="form-control" name="commentary" placeholder="Коментарии" required></textarea>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12">
                        <button class="btn btn-success">Добавить заявку</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</html>