<!DOCTYPE html>
<html lang="en"
      xmlns:th = "http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="main_layout.html">
<div layout:fragment="siteContent">
    <h4 class="row text-center fs-" th:class="${request.isHandled()==false?'text-danger':'text-success'}"
                     th:text="${request.isHandled()==false?
                     '*** Новая необработанная заявка ***':
                     'Обработанная заявка'}">

    </h4>
    <div class="row">
        <div class="col-12 mx-auto">
            <form action="/save-request" method="post" th:if= "${request!=null}">
                <input type="hidden" name="id" th:value="${request.id}">
                <div class="row">
                    <div class="col-12">
                        <label>ФИО : </label>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-12">
                        <input type="text" class="form-control"
                               name="username" placeholder="ФИО"
                               th:value="${request.username}"
                               required readonly>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12">
                        <label>Курс : </label>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-12">
                        <select  class="form-control" name="coursename">
                            <option th:text="${request.coursename}" selected></option>
                        </select>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12">
                        <label>Телефон : </label>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-12">
                        <input type="text" class="form-control"
                               name="phone"
                               th:value="${request.phone}"
                               required readonly>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12">
                        <label>Коментарии : </label>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-12">
                        <textarea th:text="${request.commentary}" readonly class="form-control" name="commentary" placeholder="Коментарии" required></textarea>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12">
                        <button th:if="${request.isHandled()==false}" class="btn btn-success">Обработать заявку</button>
                        <button type="button" class="btn btn-danger ms-2" data-bs-toggle="modal" data-bs-target="#deleteModal">Удалить заявку</button>
                    </div>
                </div>
            </form>
            <!-- Modal -->
            <div class="modal fade" id="deleteModal" data-bs-backdrop="static" data-bs-keyboard="false"
                 tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" th:if= "${request!=null}">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form th:action="@{'/delete-request'}" method="post">
                            <input type="hidden" name="id" th:value="${request.id}">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="staticBackdropLabel">Confirm Delete</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <h3 class="text-center">ARE YOU SURE?</h3>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">NO</button>
                                <button class="btn btn-danger">YES</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <h4 th:if="${request==null}" class="text-center">
                MUSIC NOT FOUND
            </h4>
        </div>
    </div>
</div>
</html>